apiVersion: v1
kind: Service
metadata:
  name: log-processor-svc
spec:
  type: NodePort
  ports:
    - port: 3002
      targetPort: 3002
      nodePort: 30102
  selector:
    app: log-processor
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-processor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-processor
  template:
    metadata:
      labels:
        app: log-processor
    spec:
      containers:
        - name: log-processor
          image: log-processor:k8s
          imagePullPolicy: Never
          ports:
            - containerPort: 3002
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: PROCESSOR_PORT
            - name: KAFKA_BROKER
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: PROCESSOR_KAFKA_BROKER
            - name: KAFKA_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: PROCESSOR_KAFKA_TOPIC
            - name: KAFKA_GROUP_ID
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: PROCESSOR_KAFKA_GROUP_ID
            - name: MONGO_URI
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: PROCESSOR_MONGO_URI